.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(2, 125, 255);
  color: white;
}

.navLinks{
  width: 50%;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
